<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map 
  [latitude]="-12.096338"
  [longitude]="-77.0252459"
  [zoom]="16"
  (mapClick)="clickMapa( $event )">
  <agm-marker *ngFor="let marcador of marcadores; let i = index"
    [latitude]="marcador.lat"
    [longitude]="marcador.lng"
    [markerDraggable]="marcador.draggable">
    <agm-info-window>
      <h1>Google maps- curso tech</h1>
      <p>Clases</p>
    </agm-info-window>
  </agm-marker>

  <!-- <agm-marker 
    [latitude]="-12.096368" 
    [longitude]="-77.0252464"
    (markerClick)="clickMarcador( marcador, i )"
    (dragEnd)="dragEndMarcador( marcador, $event )">
      <agm-info-window>Leo ramirez</agm-info-window>
  </agm-marker> -->
</agm-map>


