<div *ngIf="_loginService.afAuth.user | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>
<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login('google')">Login with Google</button>
  <button (click)="login('facebook')">Login with Facebook</button>
</ng-template>
