<p>
  home works!
</p>
<h2>Pipes</h2>
<p>date / uppercase / lowercase </p>
<p>Mi cumpleaños es: 
  {{ birthday | date:format | lowercase }}</p>
<button 
(click)="ClickFormat()">Click</button>

<p>number</p>
<p>{{numero | number:'3.2-3'}}</p>
<img [src]="imagencargada | imagedefault" alt="">
<img [src]="miimagen | imagedefault" alt="">

<p>----------------------------------------------------------</p>
<p>slice</p>
<div *ngIf="!photos" class="misposts">
  <p>Loading...</p>
</div>
<div *ngIf="photos" class="misphotos">
  <ul>
    <li *ngFor="let photo of photos | slice:10:11; let i = index" class="miphotos">
      <p>{{i}}</p>
      <p>{{photo.id}}</p>
      <!-- <img src="{{photo.thumbnailUrl}}" alt=""> -->
      <img [src]="photo.thumbnailUrl" alt="">
    </li>
  </ul>
</div>
<div>-----------------------------------------------------</div>
<div *ngIf="!posts" class="misposts">
  <p>Loading...</p>
</div>
<div *ngIf="posts" class="misposts">
  <ul>
    <li *ngFor="let post of posts | slice:8:9; let i = index" class="mipost">
      <p>{{i}}</p>
      <p>{{post.id}}</p>
      <p>{{post.title}}</p>
      <p>{{post.body}}</p>
    </li>
  </ul>
</div>


<p>Youtube</p>

<iframe width="729" height="410" [src]="miYotube | videoYoutube" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

