<h2>
ciclo-vida!
</h2>
<h4>Mi primer directive</h4>

<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<br>
<p appIlumina>directiva</p>

<p [appIlumina]="color">directiva con variable</p>

<p [appIlumina]="color" defaultColor="violet">
  directiva con variable y default
</p>